.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  max-width: 300px;
}

.formSubmitting {
  background-color: #dee2e7;
  color: #3921eb;
  border: 1px solid #c4d4e6;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.formGlobalError {
  background-color: #fef2f2;
  color: #dc2626;
  border: 1px solid #fee2e2;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field {
  padding: 6px 12px;

  border: 1px solid #000;
  border-radius: 4px;

  transition: outline var(--animation-cubicBezier);
}

.error {
  color: red;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button {
  width: fit-content;
  align-self: center;

  padding: 6px 12px;
  background-color: #f0f0f0;
  border: 1px solid #767676;
  border-radius: 4px;
  cursor: pointer;
  transition:
    color var(--animation-cubicBezier),
    background-color var(--animation-cubicBezier),
    border-color var(--animation-cubicBezier),
    outline var(--animation-cubicBezier);
}

.button:hover:not([disabled]) {
  background-color: #e5e5e5;
}

.button:active:not([disabled]) {
  background-color: #d8d8d8;
}
